body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(141, 194, 224);
}
header{
    background-color: rgb(22, 184, 196);
    text-align: center;
    padding: auto;
    width: 100%;
    top: 0;
    color: white;
    z-index: 1000;

}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200;
    margin: 0 auto;
    padding: 0 1em;
}
nav ul{
    list-style: none;
    display: flex;
    gap: 1em;
    margin: 0;
    padding: 0;
}
nav ul li{
    margin: o;

}
nav ul li a{
    color: white;
    padding: 0.5em 1em;
    text-decoration: none;
}
nav ul li a:hover{
    background-color: #555;
}
footer{
    background-color: rgb(22, 184, 196);
    text-align: center;
    color: rgb(74, 22, 214);
}